version: '3'
services:
  frontend: # 프론트엔드 추가
    container_name: moment-canvas-frontend
    image: ${DOCKER_USERNAME}/moment-canvas-client:latest
    ports:
      - "3000:80" # 외부 3000포트 -> 내부 80포트 연결
    depends_on:
      - backend
    networks:
      - app-network

  backend:
    container_name: moment-canvas-backend
    image: ${DOCKER_USERNAME}/moment-canvas-server:latest
    ports:
      - "9090:9090"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      # DB
      - DB_PASSWORD=${DB_PASSWORD}
      # Redis (비번 없으면 빈 값으로 설정됨)
      # - REDIS_PASSWORD=${REDIS_PASSWORD}
      # AWS
      - AWS_ACCESS_KEY=${AWS_ACCESS_KEY}
      - AWS_SECRET_KEY=${AWS_SECRET_KEY}
      # JWT
      - JWT_SECRET=${JWT_SECRET}
      # Mail
      - MAIL_USERNAME=${MAIL_USERNAME}
      - MAIL_PASSWORD=${MAIL_PASSWORD}
      # AI Keys
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - REPLICATE_API_TOKEN=${REPLICATE_API_TOKEN}
      # OAuth2
      - KAKAO_CLIENT_ID=${KAKAO_CLIENT_ID}
      - KAKAO_CLIENT_SECRET=${KAKAO_CLIENT_SECRET}
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
      # Redirect URI
      - OAUTH_REDIRECT_URI=${OAUTH_REDIRECT_URI}
      # File Upload
      - FILE_UPLOAD_DIR=/app/images/
      
    depends_on:
      - mysql
      - redis
    networks:
      - app-network
    # (선택사항) 업로드 파일 유지를 위한 볼륨 매핑
    volumes:
      - ./uploads:/app/images 

  mysql:
    container_name: moment-canvas-mysql
    image: mysql:8.0
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: moment_canvas
    volumes:
      - ./mysql-data:/var/lib/mysql
    networks:
      - app-network
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci

  redis:
    container_name: moment-canvas-redis
    image: redis:latest
    ports:
      - "6379:6379"
    networks:
      - app-network
    # Redis 비밀번호를 쓰려면 아래 command 주석 해제 (단, REDIS_PASSWORD 변수와 일치해야 함)
    # command: redis-server --requirepass ${REDIS_PASSWORD}
    volumes:
      - ./redis-data:/data
    command: redis-server --appendonly yes # AOF 방식(데이터 영구 저장) 활성화

networks:
  app-network:
    driver: bridge