app:
  ai:
    provider: replicate  # openai로 바꾸면 replicate 빈이 사라지고 OpenAI가 동작한다.

spring:
  config:
    import: optional:classpath:application-secret.yml # .gitignore
  application:
    name: moment-canvas
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  ai:
    openai:
      api-key: ${OPENAI_API_KEY} # OpenAI API KEY
      image:
        options:
          model: dall-e-3      # 모델 변경
          style: vivid         # 스타일
          width: 1792          # 가로
          height: 1024         # 세로
          n: 1
    replicate:
      api-token: ${REPLICATE_API_TOKEN} # Replicate API Key

file:
  upload-dir: file:../../images/  # 로컬용

server:
  port: 9090