spring:
  config:
    import: optional:classpath:application-secret.yml # .gitignore
  application:
    name: moment-canvas
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  ai:
    openai:
      api-key: ${OPENAI_API_KEY} # OpenAI API KEY

file:
  upload-dir: file:../../images/  # 로컬용

server:
  port: 9090